h1{
    text-align: center;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    margin: 5px;
    padding: 15px;
    border: 1px solid red;

}
.intro{
    color: rgb(218, 14, 82);
}
#intro{
    color: greenyellow;
}
.one{
    text-align: right;
    text-decoration: underline;
}
body{
    color: black
}   
li{
    text-align: right;
}
